@import "compass";
//custom font-faces

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

//Color
$yellow: #FFEA00;
$blue: #0D1635;
$oker: #DFC831;

@mixin translateX($x) {
    -ms-transform: translate($x,0); /* IE 9 */
    -webkit-transform: translate($x,0); /* Safari */
    -o-transform: translate($x, 0);
    transform: translate($x,0);
}

@mixin translateY($y) {
    -ms-transform: translate(0,$y); /* IE 9 */
    -webkit-transform: translate(0,$y); /* Safari */
    -o-transform: translate(0, $y);
    transform: translate(0,$y);
}

@mixin translate($x, $y) {
    -ms-transform: translate($x,$y); /* IE 9 */
    -webkit-transform: translate($x,$y); /* Safari */
    -o-transform: translate($x, $y);
    transform: translate($x,$y);
}

p {
  margin: 0 0 10px;
}

html {
  background-color: $blue;
}
.section {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: $blue;
}

.yellow {
  color: $yellow;
}

.oker {
  color: $oker;
}

.black {
  color: black;
}
