.elements-section {
  background-color: #0D1635;

  #elem-sky {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  .elem {
    position: absolute;
    color: #F0D20C;
  }

  .atom {
    position: absolute;
    color: #F0D20C;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .elem-bg {
    background-color: #D1D1D1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .elem-text {
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  .elements-explanation-wrapper {
    position: absolute;
    left: 5.4%;
    top: 77.5%;
    z-index: 100;
  }

  .elements-explanation {
    font-family: ConcourseT6;
    font-size: 36px;
    color: white;
    letter-spacing: 0.1px;
    opacity: 0;
    margin-bottom: 20px;
    span {
      padding-top: 10px;
      padding-bottom: 10px;
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
    }

  }

  .protostar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 9%;
  }
}

