@font-face {
  font-family: ConcourseT7;
  src: url("/fonts/concourse/Concourse T7 Regular.otf");
}

@font-face {
  font-family: ConcourseC7;
  src: url("/fonts/concourse/Concourse C7 Regular.otf");
}

@font-face {
  font-family: ConcourseT6;
  src: url("/fonts/concourse/Concourse T6 Regular.otf");
}

@font-face {
  font-family: "Lucida Grande";
  src: url("/fonts/lucida_grande/LucidaGrande.otf");
}

@font-face {
  font-family: "Lucida Grande";
  src: url("/fonts/lucida_grande/LucidaGrandeBold.otf");
  font-weight: bold;
}
