@font-face {
  font-family: ConcourseT7;
  src: url("/fonts/Concourse/Concourse T7 Regular.otf");
}

@font-face {
  font-family: ConcourseC7;
  src: url("/fonts/Concourse/Concourse C7 Regular.otf");
}

@font-face {
  font-family: ConcourseT6;
  src: url("/fonts/Concourse/Concourse T6 Regular.otf");
}

@font-face {
  font-family: "Lucida Grande";
  src: url("/fonts/lucida_grande/Lucida Grande.ttf") format('truetype');;
}

@font-face {
  font-family: "Lucida Grande";
  src: url("/fonts/lucida_grande/Lucida Grande.ttf") format('truetype');;
  font-weight: bold;
}
