@font-face {
  font-family: ConcourseT7;
  src: url("/fonts/Concourse/Concourse T7 Regular.otf");
}
@font-face {
  font-family: ConcourseC7;
  src: url("/fonts/Concourse/Concourse C7 Regular.otf");
}
@font-face {
  font-family: ConcourseT6;
  src: url("/fonts/Concourse/Concourse T6 Regular.otf");
}
@font-face {
  font-family: "Lucida Grande";
  src: url("/fonts/lucida_grande/Lucida Grande.ttf") format("truetype");
}
@font-face {
  font-family: "Lucida Grande";
  src: url("/fonts/lucida_grande/Lucida Grande.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Concourse";
  src: "/fonts";
}
/* line 52, ../sass/partials/_base.scss */
p {
  margin: 0 0 10px;
}

/* line 56, ../sass/partials/_base.scss */
html {
  background-color: #0D1635;
}

/* line 59, ../sass/partials/_base.scss */
.section {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: #0D1635;
}

/* line 70, ../sass/partials/_base.scss */
.yellow {
  color: #FFEA00;
}

/* line 74, ../sass/partials/_base.scss */
.oker {
  color: #DFC831;
}

/* line 1, ../sass/partials/_intro.scss */
.intro {
  position: absolute;
  font-family: ConcourseT7;
  left: 50%;
  top: 63%;
  transform: translateX(-50%);
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 0.1px;
  text-align: center;
}

/* line 13, ../sass/partials/_intro.scss */
.intro__first {
  text-transform: uppercase;
  font-family: ConcourseC7;
  font-size: 28px;
}

/* line 19, ../sass/partials/_intro.scss */
.start-top {
  position: absolute;
  top: 7.3%;
  left: 6.7%;
}

/* line 25, ../sass/partials/_intro.scss */
.start-top__first {
  font-family: ConcourseT6;
  font-size: 48px;
  letter-spacing: 0.18px;
  opacity: 0;
  margin: 0;
}

/* line 33, ../sass/partials/_intro.scss */
.start-top__second {
  font-family: "Lucida Grande";
  font-weight: bold;
  letter-spacing: 0.1px;
  opacity: 0;
}

/* line 40, ../sass/partials/_intro.scss */
.start-top__second-first {
  font-size: 24px;
}

/* line 44, ../sass/partials/_intro.scss */
.start-top__second-second {
  font-size: 28px;
}

/* line 48, ../sass/partials/_intro.scss */
.start-top__second-third {
  font-size: 18px;
}

/* line 52, ../sass/partials/_intro.scss */
.start-hydrogen {
  position: absolute;
  left: 38.2%;
  top: 51.6%;
  opacity: 0;
}

/* line 59, ../sass/partials/_intro.scss */
.start-helium {
  position: absolute;
  left: 41.7%;
  top: 38%;
  opacity: 0;
}

/* line 65, ../sass/partials/_intro.scss */
.start-bottom {
  position: absolute;
  bottom: 6.8%;
  left: 6.7%;
  opacity: 0;
}

/* line 72, ../sass/partials/_intro.scss */
.start-bottom__element {
  font-size: 36px;
  font-family: "Lucida Grande";
  font-weight: bold;
}
/* line 77, ../sass/partials/_intro.scss */
.start-bottom__element .percent {
  font-size: 28px;
}

/* line 82, ../sass/partials/_intro.scss */
#circle-text {
  position: absolute;
  display: block;
  left: 44%;
  top: 60%;
  font-family: ConcourseT6;
  font-size: 24px;
  letter-spacing: 0.99px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* line 1, ../sass/partials/_elements-section.scss */
.elements-section {
  background-color: #0D1635;
}
/* line 4, ../sass/partials/_elements-section.scss */
.elements-section #elem-sky {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* line 10, ../sass/partials/_elements-section.scss */
.elements-section .elem {
  position: absolute;
  color: #F0D20C;
}
/* line 15, ../sass/partials/_elements-section.scss */
.elements-section .atom {
  position: absolute;
  color: #F0D20C;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 23, ../sass/partials/_elements-section.scss */
.elements-section .elem-bg {
  background-color: #D1D1D1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
/* line 32, ../sass/partials/_elements-section.scss */
.elements-section .elem-text {
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  opacity: 1;
}
/* line 44, ../sass/partials/_elements-section.scss */
.elements-section .elements-explanation-wrapper {
  position: absolute;
  left: 5.4%;
  top: 77.5%;
  z-index: 100;
}
/* line 51, ../sass/partials/_elements-section.scss */
.elements-section .elements-explanation {
  font-family: ConcourseT6;
  font-size: 36px;
  color: white;
  letter-spacing: 0.1px;
  opacity: 0;
  margin-bottom: 20px;
}
/* line 58, ../sass/partials/_elements-section.scss */
.elements-section .elements-explanation span {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 61, ../sass/partials/_elements-section.scss */
.elements-section .elements-explanation span:first-child {
  padding-left: 15px;
}
/* line 64, ../sass/partials/_elements-section.scss */
.elements-section .elements-explanation span:last-child {
  padding-right: 15px;
}
/* line 71, ../sass/partials/_elements-section.scss */
.elements-section .protostar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 9%;
}

/* line 1, ../sass/partials/_stars-section.scss */
.star {
  background-image: url("/img/star.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
}

/* line 1, ../sass/partials/_star.scss */
.star-svg {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  display: block;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Safari */
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 10, ../sass/partials/_star.scss */
.star-explanation {
  position: absolute;
  top: 6.64%;
  left: 4.45%;
  color: #0D1635;
  font-family: ConcourseT6;
  font-size: 20px;
  letter-spacing: 0.1px;
  opacity: 0;
}

/* line 14, ../sass/styles.scss */
.center-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: red;
  z-index: 500;
}
