---
layout: archive
---

{{ content }}
{% assign category_names = "data,reporting,personal" | split: ',' %}

{% for name in category_names %}
{% for category in site.categories %}
{% if category[0] == name %}
<section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ category[0] }}</h2>
  <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for post in category.last %}
    {% include archive-single.html type=page.entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a>
</section>
{% endif %}
{% endfor %}
{% endfor %}
